---
import { SITES } from "../data";

interface Props {
  highlightSiteId?: number;
  height?: string | null;
}

const { highlightSiteId } = Astro.props;
const height = Astro.props.height || "600px";

const sites = await SITES;
---

<bench-map data-sites={JSON.stringify(sites)} data-highlight={highlightSiteId}>
  <a class="hidden-nav before" href="#">Skip after map</a>
  <div style={`height: ${height};`}></div>
  <a class="hidden-nav after" href="#">Skip before map</a>
</bench-map>
<script>
  import "leaflet/dist/leaflet.css";
  import L, { type TileLayerOptions } from "leaflet";
  import type { Site } from "../data";
  import { darkMode } from "../browser";
  import * as marker from "../pages/marker.[color].svg";
  import * as proposed from "../pages/proposed.[color].svg";
  import { MAX_BOUNDS, MAX_ZOOM } from "../pages/tile/[d].[z].[x].[yr].png";
  import { requestForm } from "../forms";

  class BenchMap extends HTMLElement {
    connectedCallback() {
      // Read the message from the data attribute.
      const sites: Site[] = JSON.parse(this.dataset.sites!);

      const [iconBad, iconOk, iconGood, iconWarn] = marker.COLORS.map((hex) =>
        L.icon({
          iconUrl: `/marker.${hex}.svg`,
          shadowUrl: "/marker.shadow.svg",

          iconSize: [22, 32],
          iconAnchor: [11, 32],
          popupAnchor: [0, -20],
          // tooltipAnchor: [16, -28],
          shadowSize: [22, 15],
          shadowAnchor: [1, 15],
        }),
      );
      const icons = {
        Good: iconGood,
        Replaced: iconOk,
        ["Attention Needed"]: iconWarn,
        Removed: iconBad,
        Destroyed: iconBad,
      };
      const proposedIcons = proposed.COLORS.map((hex) =>
        L.icon({
          iconUrl: `/proposed.${hex}.svg`,
          iconSize: [14, 22],
          iconAnchor: [1, 22],
          popupAnchor: [5, -15],
        }),
      );

      const div = this.getElementsByTagName("div")[0]!;
      const map = L.map(div, {
        center: [37.83, -122.3],
        zoom: 11,
        maxZoom: MAX_ZOOM,
        maxBounds: MAX_BOUNDS,
        maxBoundsViscosity: 1.0,
      });
      L.tileLayer(`/tile/{d}.{z}.{x}.{y}{r}.png`, {
        maxZoom: MAX_ZOOM,
        attribution: import.meta.env.PUBLIC_MAP_ATTRIBUTION,
        d: () => (darkMode() ? "d" : "l"),
      } as TileLayerOptions).addTo(map);

      const clickPopup = L.popup();
      map.on("click", (e) => {
        const { lat, lng } = e.latlng;

        const a = document.createElement("a");
        a.href = requestForm(`(${lat}, ${lng})`);
        if (this.dataset.embed === "true") {
          a.target = "_top";
        }
        a.innerText = "Request A Bench Here";

        clickPopup.setLatLng(e.latlng).setContent(a).openOn(map);
      });

      const benchesGroup = L.layerGroup().addTo(map);
      const proposedGroup = L.layerGroup();
      const layerControl = L.control.layers().addTo(map);
      layerControl.addOverlay(benchesGroup, "Benches");
      layerControl.addOverlay(proposedGroup, "Proposed Locations");

      for (const site of sites) {
        let scale = 0;
        let icon;
        let group;
        if ("Proposed" === site.benchStatus) {
          const c = 0.04;
          scale = Math.log2(c * site.avgWeekdayBoardings + 1);
          scale /= Math.log2(c * 200 + 1); // Scale so that 200 riders is 100%.
          scale = Math.max(0, Math.min(1, scale));
          const idx = Math.floor(scale * (proposedIcons.length - 1));
          icon = proposedIcons[idx];
          group = proposedGroup;
        } else {
          icon = icons[site.benchStatus];
          group = benchesGroup;
        }
        console.assert(
          null != icon,
          `Unknown bench status: ${site.benchStatus}`,
        );

        const marker = L.marker([site.lat, site.lon], { icon }).addTo(group);
        // TODO(mingwei): prevent XSS.
        let head: Node = document.createTextNode(site.name || "Unknown");
        if (null != site.id) {
          const a = document.createElement("a");
          a.href = `/${site.id}`;
          const target = new URLSearchParams(window.location.search).get(
            "target",
          );
          a.target = /_[a-z]+/i.test(target!) ? target! : "_self";
          a.appendChild(head);
          head = a;
        }

        const popupDiv = document.createElement("div");
        {
          const h3 = document.createElement("h3");
          h3.appendChild(head);
          const p = document.createElement("p");
          if ("Proposed" === site.benchStatus) {
            p.innerText = `Proposed (relative ridership: ${Math.round(100 * scale)}%)`;
          } else {
            p.innerText = `Status: ${site.benchStatus}`;
          }
          popupDiv.appendChild(h3);
          popupDiv.appendChild(p);
        }

        const popup = marker.bindPopup(popupDiv);
        if (this.dataset.highlight === `${site.id}`) {
          popup.openPopup();
          map.setView([site.lat, site.lon], MAX_ZOOM);
        }
      }
    }
  }

  customElements.define("bench-map", BenchMap);

  document
    .querySelector<HTMLAnchorElement>(".hidden-nav.before")!
    .addEventListener("click", (e) => {
      e.preventDefault();
      document.querySelector<HTMLAnchorElement>(".hidden-nav.after")!.focus();
    });
  document
    .querySelector<HTMLAnchorElement>(".hidden-nav.after")!
    .addEventListener("click", (e) => {
      e.preventDefault();
      document.querySelector<HTMLAnchorElement>(".hidden-nav.before")!.focus();
    });
</script>

<style>
  bench-map {
    display: block;
    position: relative;
  }
  .hidden-nav {
    position: absolute;
    left: -9999px;
    background-color: var(--bg-color);
  }
  .hidden-nav:focus {
    left: 0;
    z-index: 9999;
  }
  .hidden-nav.after {
    bottom: 0;
  }
</style>
