---
import { Image } from "astro:assets";
import Page from "../layouts/Page.astro";
import type { GetStaticPaths } from "astro";
import { getSites, getSite } from "../data";
import BenchMap from "../components/BenchMap.astro";

export const prerender = true;
export const getStaticPaths = (async () => {
  return (await getSites())
    .map(({ id }) => id)
    .filter((siteId) => null != siteId)
    .map((siteId) => ({
      params: {
        siteId,
      },
    }));
}) satisfies GetStaticPaths;

const { siteId } = Astro.params;
const site = (await getSite(+siteId))!;
---

<Page title={site.name}>
  <h3 class="actions">
    <a
      href={`/report?loc=${encodeURIComponent(site.name || "")}&siteId=${siteId}`}
      >Report A Problem With This Bench</a
    >
  </h3>
  {
    site.benchImageUrl && (
      <Image
        src={site.benchImageUrl}
        alt="Photo of the bench."
        width={1.5 * 800}
        inferSize={true}
      />
    )
  }
  <h2>Info</h2>
  <ul>
    <li>Status: {site.benchStatus}</li>
    <li>Adopted? <em>{site.adopted ? "Yes" : "No!"}</em></li>
    {site.benchLength && <li>Length: {site.benchLength} ft</li>}
    {site.nickname && <li>Nickname: {site.nickname}</li>}
    {
      0 < site.lines.length ? (
        <li>
          Bus Lines: {site.lines.join(", ")}
        </li>
      ) : null
    }
    {
      0 < site.notes.length ? (
        <li>
          Notes:
          <ul>
            {site.notes.map((x) => (
              <li>{x}</li>
            ))}
          </ul>
        </li>
      ) : null
    }
  </ul>
  <h2>Links</h2>
  <ul>
    <li>
      <a
        target="_blank"
        href={`https://www.google.com/maps/search/?api=1&query=${site.lat},${site.lon}`}
      >
        Google Maps
      </a>
    </li>
    {
      site.muni && (
        <li>
          <a target="_blank" href={`https://sfmta.com/${site.muni}`}>
            SFMTA
          </a>
        </li>
      )
    }
    {
      site.act && (
      <li>
          <a
            target="_blank"
            href={`https://www.actransit.org/stop/${site.act}`}
          >
            AC Transit Stop Info
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href={`https://tp.actransit.org/#/stop/2:${site.act}`}
          >
            AC Transit Trip Planner
          </a>
        </li>
      )
    }
    {
      site.muni && (
        <li>
          <a
            target="_blank"
            href={`https://sfbaytransit.org/search?q=${site.muni}`}
          >
            SF Bay Transit - Muni
          </a>
        </li>
      )
    }
    {
      site.act && (
        <li>
          <a
            target="_blank"
            href={`https://sfbaytransit.org/search?q=${site.act}`}
          >
            SF Bay Transit - AC Transit
          </a>
        </li>
      )
    }
    {
      site.vta && (
        <li>
          <a
            target="_blank"
            href={`https://sfbaytransit.org/search?q=${site.vta}`}
          >
            SF Bay Transit - VTA
          </a>
        </li>
      )
    }
    {
      site.ggt && (
        <li>
          <a
            target="_blank"
            href={`https://sfbaytransit.org/search?q=${site.ggt}`}
          >
            SF Bay Transit - Golden Gate Transit
          </a>
        </li>
      )
    }
  </ul>
  <h2>Bench Map</h2>
  <BenchMap highlightSiteId={siteId} />
  <h2>Admin</h2>
  <p>
    <a id="upkeep-link" href={import.meta.env.PUBLIC_FORM_UPKEEP} target="_blank" data-site-id={siteId}>Submit Upkeep (Adopters Only)</a>
  </p>
  <details>
    <summary>Raw Data</summary>
    <pre><code>{JSON.stringify(site, null, 2)}</code></pre>
  </details>
</Page>

<style>
  img {
    height: auto;
    max-width: 100%;
  }
</style>

<script>
  const now = new Date();
  now.setMinutes(now.getMinutes() - now.getTimezoneOffset());

  const upkeepAnchor = document.getElementById("upkeep-link")! as HTMLAnchorElement;
  const upkeepUrl = new URL(import.meta.env.PUBLIC_FORM_UPKEEP);
  upkeepUrl.searchParams.append("entry.2039536821", upkeepAnchor.dataset.siteId!);
  upkeepUrl.searchParams.append("entry.154209678", now.toISOString().slice(0, 19));
  upkeepAnchor.href = upkeepUrl.toString();
</script>