---
import { Image } from "astro:assets";
import { Markdown } from "@astropub/md";

interface Step {
  text: string;
  img: ImageMetadata;
  width: number;
  alt: string;
}

interface Props {
  steps: Step[];
  link?: boolean;
}
---

<div class="container">
  {
    Astro.props.steps.map(({ text, img, width, alt }) => (
      <figure class="step">
        {Astro.props.link ? (
          <a href={img.src} target="_blank" rel="noopener noreferrer">
            <Image src={img} {alt} {width} densities={[1, 1.25, 1.5, 2]} />
          </a>
        ) : (
          <Image src={img} {alt} {width} densities={[1, 1.25, 1.5, 2]} />
        )}
        <figcaption>
          <Markdown of={text} />
        </figcaption>
      </figure>
    ))
  }
</div>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    clear: both;
  }
  .step {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .step img {
  }
  .step .caption {
  }
</style>
